<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-toolbar color="primary">
  <a mat-button routerLink="/" *ngIf="auth.isLoggedIn$ | async; else titleOnly">LinkPlus</a>
  <ng-template #titleOnly>
    <span>LinkPlus</span>
  </ng-template>
  <span class="spacer"></span>
  <button mat-button *ngIf="auth.isLoggedIn$ | async" (click)="onLogout()">Logout</button>
</mat-toolbar>

<router-outlet />
